@page
@model HospiEnCasa.App.Presentacion.Pages.ListModel
@{
    string msn = " a todos";
}
<h1>Listado de Saludos</h1>
<table class="table">
    @foreach (var saludo in Model.ListaSaludos)
    {
        <tr>
           <td>@saludo @msn</td>
        </tr>
    }
</table>
