@page
@model HospiEnCasa.App.Presentacion.Pages.NuevoPacienteModel
@{
}

<!-- Start Ppal Sections -->
<div class="d-flex flex-lg-row flex-column mt-5">
  <!-- Start Submenu vertical -->
  <aside class="col-lg-2 pt-5 ps-3 bg-light">
    <div class="container">
      <nav id="nav-second" class="navbar navbar-light bg-light">
        <ul class="nav flex-lg-column">
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Pacientes/Pacientes">Listado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Pacientes/NuevoPaciente">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Otra opcion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Otra opcion</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- End Submenu vertical -->

  <!-- Start Main section -->
  <main class="container-fluid pt-5">
    <!-- Start Breadcrumb section -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Pacientes/Pacientes">Pacientes</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Nuevo Paciente
        </li>
      </ol>
    </nav>
    <!-- End Breadcrumb section -->
    <!-- Start Content section -->
    <section class="">
      <!-- Start Title and form search section -->
      <div class="container pb-4">
        <h1 class="title-section">Nuevo Paciente</h1>
        <form class="">
          <fieldset class="row g-3 py-3">
            <div class="col-lg-6">
              <label for="inputAvatar" class="form-label">Ingrese fotografia</label>
              <input class="form-control" type="file" id="inputAvatar">
            </div>

            <div class="input-group input-group-lg col-lg-6">
               <span class="input-group-text" id="basic-addon1">
               <i class="fa-solid fa-id-card"></i> 
              </span>
              <input class="form-control" type="text" id="inputIdentificacion" placeholder="Identificacion" required>
            </div>

            <div class=" input-group input-group-lg col-lg-6">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-hospital-user"></i> 
              </span>
              <input type="text" class="form-control" id="inputNombres" placeholder="Nombre" required />
            </div>

            
            <div class="input-group input-group-lg col-lg-6">
             <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-hospital-user"></i>
              </span>
              <input type="text" class="form-control" id="inputApellidos" placeholder="Apellido" required />
            </div>

            <div class="input-group input-group-lg col-lg-6">
              <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-mobile-screen"></i>
              </span>
            <input type="tel" class="form-control" id="inputTelefono" placeholder="Telefono" required />
            </div>
            
            <div class="input-group input-group-lg col-lg-6">
              <span class="input-group-text" id="basic-addon1">
                 <i class="fa-solid fa-mars-and-venus-burst"></i>
              </span>
              <select id="inputGenero" class="form-select">
                <option selected>Choose Genero...</option>
                <option>...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
           

          </fieldset>

          <fieldset class="row g-3 py-3">

            <div class="input-group input-group-lg col-12">
              <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-map-location-dot"></i>
              </span>
              <input type="text" class="form-control" id="inputDireccion" placeholder="Direccion" required />
            </div>

            <div class="input-group input-group-lg col-lg-3">
               <span class="input-group-text" id="basic-addon1">
                 <i class="fa-solid fa-city"></i>
              </span>
              <input type="text" class="form-control" id="inputCiudad" placeholder="Ciudad" required />
            </div>
            <div class="col-lg-3">
              <label for="inputFechaNacimiento" class="form-label">Fecha Nacimiento</label>
              <input type="date" class="form-control" id="inputFechaNacimiento" required />
            </div>
            <div class="col-lg-3">
              <label for="inputLatitud" class="form-label">Latitud</label>
              <input type="number" class="form-control" id="inputLatitud" />
            </div>
            <div class="col-lg-3">
              <label for="inputLongitud" class="form-label">Longitud</label>
              <input type="text" class="form-control" id="inputLongitud" />
            </div>
          </fieldset>
          <div class="d-flex justify-content-end py-3">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
      <!-- End Title and form search section -->
    </section>
    <!-- Start Content section -->
  </main>
  <!-- End Main section -->
</div>
<!-- End Ppal Sections -->
