@page
@using HospiEnCasa.App.Dominio
@model HospiEnCasa.App.Presentacion.Pages.NuevoPacienteModel
@{
  ViewData["Title"] = "Nuevo Paciente";
}

<!-- Start Ppal Sections -->
<div class="d-flex flex-lg-row flex-column mt-5">
  <!-- Start Submenu vertical -->
  <aside class="col-lg-2 pt-5 ps-3 bg-light">
    <div class="container">
      <nav id="nav-second" class="navbar navbar-light bg-light">
        <ul class="nav flex-lg-column">
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Pacientes/Pacientes"><i class="fas fa-list"></i> Listado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Pacientes/NuevoPaciente" style="color: var(--hospital-green);"><i class="fas fa-user-plus"></i> Registrar</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- End Submenu vertical -->

  <!-- Start Main section -->
  <main class="container-fluid pt-5">
    <!-- Start Breadcrumb section -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Pacientes/Pacientes">Pacientes</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Nuevo Paciente
        </li>
      </ol>
    </nav>
    <!-- End Breadcrumb section -->

    <!-- Start Content section -->
    <section class="">
      <!-- Start Title and form search section -->
      <div class="container pb-4">
        <h1 class="title-section">Nuevo Paciente</h1>
        <form class="" method="post" enctype="multipart/form-data">
          <fieldset class="row g-3 py-3">
            <legend class="">Informacion Personal</legend>
            <div class="col-lg-6">
              <label asp-for="Avatar.FormFile" class="form-label">Ingrese fotografia</label>
              <input asp-for="Avatar.FormFile" type="file" class="form-control">
              <span asp-validation-for="Avatar.FormFile" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Paciente.Identificacion" class="form-label">Identificacion</label>
              <input asp-for="Paciente.Identificacion" class="form-control">
              <span asp-validation-for="Paciente.Identificacion" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Paciente.Nombres" class="form-label">Nombres</label>
              <input asp-for="Paciente.Nombres" class="form-control">
              <span asp-validation-for="Paciente.Nombres" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Paciente.Apellidos" class="form-label">Apellidos</label>
              <input asp-for="Paciente.Apellidos" class="form-control">
              <span asp-validation-for="Paciente.Apellidos" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Paciente.NumeroTelefono" class="form-label">Telefono</label>
              <input asp-for="Paciente.NumeroTelefono" class="form-control">
              <span asp-validation-for="Paciente.NumeroTelefono" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Paciente.Genero" class="form-label">Genero</label>
              <select asp-for="Paciente.Genero" class="form-select" asp-items="Html.GetEnumSelectList<Genero>()">
                <option selected>Choose...</option>
              </select>
            </div>
          </fieldset>
          <fieldset class="row g-3 py-3">
            <legend class="">Informacion Paciente</legend>
            <div class="col-12">
              <label asp-for="Paciente.Direccion" class="form-label">Direccion</label>
              <input asp-for="Paciente.Direccion" class="form-control">
              <span asp-validation-for="Paciente.Direccion" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
              <label asp-for="Paciente.Ciudad" class="form-label">Ciudad</label>
              <input asp-for="Paciente.Ciudad" class="form-control">
              <span asp-validation-for="Paciente.Ciudad" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
              <label asp-for="Paciente.FechaNacimiento" class="form-label">Fecha Nacimiento</label>
              <input asp-for="Paciente.FechaNacimiento" class="form-control">
              <span asp-validation-for="Paciente.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
              <label asp-for="Paciente.Latitud" class="form-label">Latitud (DD)</label>
              <input asp-for="Paciente.Latitud" class="form-control">
              <span asp-validation-for="Paciente.Latitud" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
              <label asp-for="Paciente.Longitud" class="form-label">Longitud (DD)</label>
              <input asp-for="Paciente.Longitud" class="form-control">
              <span asp-validation-for="Paciente.Longitud" class="text-danger"></span>
            </div>
          </fieldset>
          <fieldset class="row g-3 py-3">
            <legend class="">Informacion Historia Clinica</legend>
            <div class="col-lg-4">
              <label asp-for="Historia.Diagnostico" class="form-label">Diagnostico</label>
              <input asp-for="Historia.Diagnostico" class="form-control">
              <span asp-validation-for="Historia.Diagnostico" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
              <label asp-for="Historia.Entorno" class="form-label">Entorno</label>
              <input asp-for="Historia.Entorno" class="form-control">
              <span asp-validation-for="Historia.Entorno" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
              <label asp-for="SugerenciaCuidado.FechaHora" class="form-label">Fecha y Hora Sugerencia</label>
              <input asp-for="SugerenciaCuidado.FechaHora" class="form-control">
              <span asp-validation-for="SugerenciaCuidado.FechaHora" class="text-danger"></span>
            </div>
            <div class="col-12">
              <label asp-for="SugerenciaCuidado.Descripcion" class="form-label">Descripcion Sugerencia</label>
              <textarea asp-for="SugerenciaCuidado.Descripcion" class="form-control"></textarea>
              <span asp-validation-for="SugerenciaCuidado.Descripcion" class="text-danger"></span>
            </div>
          </fieldset>
          @* <fieldset class="row g-3 py-3">
            <legend class="">Informacion Signos Vitales</legend>
            <div class="col-lg-4">
              <label asp-for="Paciente.SignosVitales" class="form-label">Signo Vital</label>
              <select asp-for="Paciente.SignosVitales" class="form-select" asp-items="Html.GetEnumSelectList<TipoSigno>()">
                <option selected>Choose...</option>
              </select>
            </div>
            <div class="col-lg-4">
              <label asp-for="SignoVital.Valor" class="form-label">Valor</label>
              <input asp-for="SignoVital.Valor" class="form-control">
              <span asp-validation-for="SignoVital.Valor" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
              <label asp-for="SignoVital.FechaHora" class="form-label">Fecha y Hora Signo Vital</label>
              <input asp-for="SignoVital.FechaHora" class="form-control">
              <span asp-validation-for="SignoVital.FechaHora" class="text-danger"></span>
            </div>
          </fieldset> *@
          <div class="d-flex justify-content-end py-3">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
      <!-- End Title and form search section -->
    </section>
    <!-- Start Content section -->
  </main>
  <!-- End Main section -->
</div>
<!-- End Ppal Sections -->

<!-- Start Modal-->
@if (@Model.IsCreatePaciente)
{
  <partial name="_ModalView" for="ModalInfo" />
  @section ScriptModal{
    <partial name="_ModalViewScript" />
  }
}
<!-- End Modal-->