@page
@model HospiEnCasa.App.Presentacion.Pages.FormularioConsultaPacienteModel
@{}

<div>
    <h1 class="medicoEnCasa">Medico en Casa</h1>
    <table class="frame_oficinaVirtual">
        <tr>
            <td style="background-color: #78DFC1;">
                <h3 class="oficinaVirtual">Oficina virtual</h3>
            </td>
        </tr>
        <tr>
            <td class="frame_form">
                <h3 class="titulo">Buscar paciente</h3>
                <h5 class="titulo">Ingrese la información correspondiente <br> en alguno de los siguientes campos:</h5>
                <h4 class="titulo">Buscar por datos personales</h4>
                <form>
                    <label class="subtitulo" for="nombre">Nombre</label><br>
                    <input class="cuadroTexto" type="text" id="nombre"><br>
                    <label class="subtitulo" for="apellido">Apellidos</label><br>
                    <input class="cuadroTexto" type="text" id="apellido"><br>
                    <label class="subtitulo" for="telefono">Telefono</label><br>
                    <input class="cuadroTexto" type="text" id="telefono"><br>
                </form>
                <h4 class="titulo">Buscar por equipo de cuidado personal</h4>
                <form>
                    <label class="subtitulo" for="familiar designado">Familiar designado</label><br>
                    <input class="cuadroTexto" type="text" id="familiar designado"><br>
                    <label class="subtitulo" for="medico">Medico</label><br>
                    <input class="cuadroTexto" type="text" id="medico"><br>
                    <label class="subtitulo" for="enfermera">Enfermera</label><br>
                    <input class="cuadroTexto" type="text" id="enfermera"><br>
                </form>
                <br>
                <input class="boton" type="submit" value="Buscar">
                <h4 class="titulo"><a href="http://www.google.com">Mostrar lista completa de pacientes</a></h4>
            </td>
        </tr>
    </table>
</div>