@page
@model HospiEnCasa.App.Presentacion.Pages.FormularioFamiliarDesignadoModel
@{
}


    <h1 class="medicoEnCasa">Medico en Casa</h1>
    <table class="frame_oficinaVirtual">
        <tr>
            <td style="background-color: #78DFC1;">
                <h3 class="oficinaVirtual">Oficina virtual</h3>
            </td>
        </tr>
        <tr>
            <td class="frame_form">
                <h3 class="titulo">Registrar familiar designado</h3>
                <h4 class="titulo">Datos personales</h4>
                <form>
                    <label class="subtitulo" for="nombre">Nombre</label><br>
                    <input class="cuadroTexto" type="text" id="nombre"><br>
                    <label class="subtitulo" for="apellido">Apellido</label><br>
                    <input class="cuadroTexto" type="text" id="apellido"><br>
                    <label class="subtitulo" for="telefono">Telefono</label><br>
                    <input class="cuadroTexto" type="text" id="telefono"><br>
                    <br>
                    <input type="radio" id="masculino" name="genero" value="masculino">
                    <label class="subtitulo" for="masculino">Masculino</label>
                    <input type="radio" id="femenino" name="genero" value="fenemino">
                    <label class="subtitulo" for="femenino">Femenino</label><br>
                    <br>
                    <label class="subtitulo" for="parentesco">Parentesco</label><br>
                    <input class="cuadroTexto" type="text" id="parentesco"><br>
                    <label class="subtitulo" for="email">Correo Electronico</label><br>
                    <input class="cuadroTexto" type="email" id="email"><br>
                </form>
                <br>
                <input class="boton" type="submit" value="Registrar">
            </td>
        </tr>
    </table>
