@page
@using HospiEnCasa.App.Dominio
@model HospiEnCasa.App.Presentacion.Pages.NuevoMedicoModel
@{
  ViewData["Title"] = "Nuevo Medico";
}

<!-- Start Ppal Sections -->
<div class="d-flex flex-lg-row flex-column mt-5">
  <!-- Start Submenu vertical -->
  <aside class="col-lg-2 pt-5 ps-3 bg-light">
    <div class="container">
      <nav id="nav-second" class="navbar navbar-light bg-light">
        <ul class="nav flex-lg-column">
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Medicos/Medicos">Listado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Medicos/NuevoMedico">Registrar</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- End Submenu vertical -->

  <!-- Start Main section -->
  <main class="container-fluid pt-5">
    <!-- Start Breadcrumb section -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Medicos/Medicos">Medicos</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Nuevo Medico
        </li>
      </ol>
    </nav>
    <!-- End Breadcrumb section -->
    <!-- Start Content section -->
    <section class="">
      <!-- Start Title and form search section -->
      <div class="container pb-4">
        <h1 class="title-section">Nuevo Medico</h1>
        <form class="" method="post">
          <fieldset class="row g-3 py-3">
            <div class="col-lg-6">
              <label for="inputAvatar" class="form-label">Ingrese fotografia</label>
              <input class="form-control" type="file" id="inputAvatar">
            </div>
            <div class="col-lg-6">
              <label asp-for="Medico.Identificacion" class="form-label">Identificacion</label>
              <input asp-for="Medico.Identificacion" class="form-control">
              <span asp-validation-for="Medico.Identificacion" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Medico.Nombres" class="form-label">Nombres</label>
              <input asp-for="Medico.Nombres" class="form-control">
              <span asp-validation-for="Medico.Nombres" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Medico.Apellidos" class="form-label">Apellidos</label>
              <input asp-for="Medico.Apellidos" class="form-control">
              <span asp-validation-for="Medico.Apellidos" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Medico.NumeroTelefono" for="inputTelefono" class="form-label">Telefono</label>
              <input asp-for="Medico.NumeroTelefono" type="tel" class="form-control">
              <span asp-validation-for="Medico.NumeroTelefono" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Medico.Genero" class="form-label">Genero</label>
              <select asp-for="Medico.Genero" class="form-select"
                asp-items="Html.GetEnumSelectList<Genero>()">
                <option selected>Choose...</option>
              </select>
            </div>
          </fieldset>
          <fieldset class="row g-3 py-3">
            <div class="col-lg-6">
              <label asp-for="Medico.Especialidad" class="form-label">Especialidad</label>
              <input asp-for="Medico.Especialidad" class="form-control">
              <span asp-validation-for="Medico.Especialidad" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
              <label asp-for="Medico.RegistroRethus" class="form-label">Registro Rethus</label>
              <input asp-for="Medico.RegistroRethus" class="form-control">
              <span asp-validation-for="Medico.RegistroRethus" class="text-danger"></span>
            </div>
          </fieldset>
          <div class="d-flex justify-content-end py-3">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
      <!-- End Title and form search section -->
    </section>
    <!-- Start Content section -->
  </main>
  <!-- End Main section -->
</div>
<!-- End Ppal Sections -->

<!-- Start Modal-->
@if (@Model.IsCreateMedico)
{
  <partial name="_ModalView" for="ModalInfo" />
  @section ScriptModal{
    <partial name="_ModalViewScript" />
  }
}
<!-- End Modal-->
