.titulo {
    color: #34B48F;
    font-family: Verdana;
}
.botonFiltrar {
    background-color: #34B48F;
    font-family: Verdana;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
}
.encabezado {
    font-family: Verdana;
    text-align: center;
    border: #34B48F 1px solid;
    border-collapse: collapse;
    background-color: #78DFC1;
}
.contenido {
    font-family: Verdana;
    border: #34B48F 1px solid;
    border-collapse: collapse;
}
.verMas {
    font-family: Verdana;
    color: #34B48F;
}
.tabla {
    width: 100%;
    border: black 1px solid;
    border-collapse: collapse;
}