.medicoEnCasa {
    color: #34B48F;
    font-family: Verdana;
    text-align: center;
}
.oficinaVirtual {
    color: black;
    font-family: Verdana;
    text-align: center;
}
.frame_oficinaVirtual {
    margin: 0 auto;
    width: 35%;
}
.titulo {
    color: #34B48F;
    font-family: Verdana;
    text-align: center;
}
.frame_form {
    text-align: center;
    border: 3px solid #34B48F;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.subtitulo {
    color: black;
    font-family: Verdana;
}
.boton {
    background-color: #34B48F;
    color: white;
    font-family: Verdana;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px 32px;
    text-align: center;
}
.cuadroTexto {
    border: 1px solid gray;
    border-radius: 6px;
    width: 100%;
    height: 30px;
}