@page "{id:int}"
@using HospiEnCasa.App.Dominio
@model HospiEnCasa.App.Presentacion.Pages.FamiliarModel
@{
  ViewData["Title"] = "Familiar";
}

    <!-- Start Ppal Sections -->
    <div class="d-flex flex-lg-row flex-column mt-5">
      <!-- Start Submenu vertical -->
      <aside class="col-lg-2 pt-5 ps-3 bg-light">
        <div class="container">
          <nav id="nav-second" class="navbar navbar-light bg-light">
            <ul class="nav flex-lg-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Pacientes/Pacientes">Listado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Medicos/NuevoMedico">Registrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Otra opcion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Otra opcion</a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
      <!-- End Submenu vertical -->

      <!-- Start Main section -->
      <main class="container-fluid pt-5">
        <!-- Start Breadcrumb section -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-page="/Pacientes/Pacientes">Pacientes</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-page="/Pacientes/Paciente">Paciente</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Familiar
            </li>
          </ol>
        </nav>
        <!-- End Breadcrumb section -->
        <!-- Start Content section -->
        <section class="">
          <!-- Start Title and form search section -->
          <div class="container pb-4">
            <h1 class="title-section">Familiar Designado</h1>
                        <div class="row d-flex justify-content-lg-start align-items-center">
              <div class="col-lg-6">
                <img
                  src="~/avatar/johansson.png"
                  class="col-lg-5 img-perfil"
                  alt="..."
                />
              </div>
            </div>

            <form class="">
              <fieldset class="row g-3 py-3">
                <div class="col-lg-6">
                  <label for="inputPaciente" class="form-label">Paciente a Cuidar</label>
                  <input class="form-control" type="text" id="inputPaciente" readonly value="@ViewData["pacienteACuidar"]">
                </div>
                <div class="col-lg-6"></div>
              </fieldset>
              <fieldset class="row g-3 py-3">
                <div class="col-lg-6">
                  <label asp-for="FamiliarDesignado.Identificacion" class="form-label">Identificacion</label>
                  <input asp-for="FamiliarDesignado.Identificacion" class="form-control" readonly>
                </div>
                <div class="col-lg-6">
                  <label asp-for="FamiliarDesignado.Nombres" class="form-label">Nombres</label>
                  <input asp-for="FamiliarDesignado.Nombres" class="form-control" readonly/>
                </div>
                <div class="col-lg-6">
                  <label asp-for="FamiliarDesignado.Apellidos" class="form-label">Apellidos</label>
                  <input asp-for="FamiliarDesignado.Apellidos" class="form-control" readonly/>
                </div>
                <div class="col-lg-6">
                  <label asp-for="FamiliarDesignado.NumeroTelefono" for="inputTelefono" class="form-label">Telefono</label>
                  <input asp-for="FamiliarDesignado.NumeroTelefono" type="tel" class="form-control" readonly/>
                </div>
                <div class="col-lg-6">
                  <label asp-for="FamiliarDesignado.Genero" class="form-label">Genero</label>
                  <select asp-for="FamiliarDesignado.Genero" class="form-select" asp-items="Html.GetEnumSelectList<Genero>()" disabled>
                     <option selected>Choose...</option>
                  </select>
                </div>
              </fieldset>
              <fieldset class="row g-3 py-3">
                <div class="col-lg-6">
                  <label asp-for="FamiliarDesignado.Parentesco" class="form-label">Parentesco</label>
                  <input asp-for="FamiliarDesignado.Parentesco" class="form-control" readonly/>
                </div>
                <div class="col-lg-6">
                  <label asp-for="FamiliarDesignado.Correo" class="form-label">E-Mail</label>
                  <input asp-for="FamiliarDesignado.Correo" type="email" class="form-control" readonly/>
                </div>
              </fieldset>
              <div class="d-flex justify-content-end py-3">
                <button type="submit" class="btn btn-primary" disabled>Registrar</button>
              </div>
            </form>
          </div>
          <!-- End Title and form search section -->
        </section>
        <!-- Start Content section -->
      </main>
      <!-- End Main section -->
    </div>
    <!-- End Ppal Sections -->


