@page "{id:int}"
@using HospiEnCasa.App.Dominio
@model HospiEnCasa.App.Presentacion.Pages.NuevoFamiliarModel
@{
    ViewData["Title"] = "Nuevo Familiar";
}

<!-- Start Ppal Sections -->
<div class="d-flex flex-lg-row flex-column mt-5">
    <!-- Start Submenu vertical -->
    <aside class="col-lg-2 pt-5 ps-3 bg-light">
        <div class="container">
            <nav id="nav-second" class="navbar navbar-light bg-light">
                <ul class="nav flex-lg-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Pacientes/Pacientes">Listado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Familiares/NuevoFamiliar" disabled>Registrar</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- End Submenu vertical -->
    <!-- Start Main section -->
    <main class="container-fluid pt-5">
        <!-- Start Breadcrumb section -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-page="/Pacientes/Pacientes">Pacientes</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-page="/Pacientes/Paciente" asp-route-id="@Model.IdPaciente">Paciente</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Nuevo Familiar
                </li>
            </ol>
        </nav>
        <!-- End Breadcrumb section -->
        <!-- Start Content section -->
        <section class="">
            <!-- Start Title and form search section -->
            <div class="container pb-4">
                <h1 class="title-section">Nuevo Familiar</h1>
                <form class="" method="post">
                    <fieldset class="row g-3 py-3">
                        <div class="col-12">
                            <label for="inputPaciente" class="form-label">Paciente a Cuidar</label>
                            <input class="form-control" type="text" id="inputPaciente" readonly value="@ViewData["pacienteACuidar"]">
                        </div>
                    </fieldset>
                    <fieldset class="row g-3 py-3">
                        <div class="col-lg-6">
                            <label for="inputAvatar" class="form-label">Ingrese fotografia</label>
                            <input class="form-control" type="file" id="inputAvatar">
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="FamiliarDesignado.Identificacion" class="form-label">Identificacion</label>
                            <input asp-for="FamiliarDesignado.Identificacion" class="form-control">
                            <span asp-validation-for="FamiliarDesignado.Identificacion" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="FamiliarDesignado.Nombres" class="form-label">Nombres</label>
                            <input asp-for="FamiliarDesignado.Nombres" class="form-control">
                            <span asp-validation-for="FamiliarDesignado.Nombres" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="FamiliarDesignado.Apellidos" class="form-label">Apellidos</label>
                            <input asp-for="FamiliarDesignado.Apellidos" class="form-control">
                            <span asp-validation-for="FamiliarDesignado.Apellidos" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="FamiliarDesignado.NumeroTelefono" for="inputTelefono" class="form-label">Telefono</label>
                            <input asp-for="FamiliarDesignado.NumeroTelefono" type="tel" class="form-control">
                            <span asp-validation-for="FamiliarDesignado.NumeroTelefono" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="FamiliarDesignado.Genero" class="form-label">Genero</label>
                            <select asp-for="FamiliarDesignado.Genero" class="form-select" asp-items="Html.GetEnumSelectList<Genero>()">
                                <option selected>Choose...</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="row g-3 py-3">
                        <div class="col-lg-6">
                            <label asp-for="FamiliarDesignado.Parentesco" class="form-label">Parentesco</label>
                            <input asp-for="FamiliarDesignado.Parentesco" class="form-control">
                            <span asp-validation-for="FamiliarDesignado.Parentesco" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="FamiliarDesignado.Correo" class="form-label">E-Mail</label>
                            <input asp-for="FamiliarDesignado.Correo" class="form-control">
                            <span asp-validation-for="FamiliarDesignado.Correo" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <div class="d-flex justify-content-end py-3">
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Registrar</button>
                    </div>
                </form>
            </div>
            <!-- End Title and form search section -->
        </section>
        <!-- Start Content section -->
    </main>
    <!-- End Main section -->
</div>
<!-- End Ppal Sections -->

<!-- Start Modal-->
@if (@Model.IsCreateFamiliar)
{
  <partial name="_ModalView" for="ModalInfo" />
  @section ScriptModal{
    <partial name="_ModalViewScript" />
  }
}
<!-- End Modal-->

